
<launch>

    <node pkg="second_project" name="odometry_node" type="node" output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu" args="0 0 0 0 0 0 base_link world"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_gps" args="0 0 0 0 0 0 base_link gps"/>

    <node pkg="imu_complementary_filter" name="complementary_filter" type="complementary_filter_node" output="screen">
        <rosparam command="load" file="$(find second_project)/params/imu_filter_params.yaml"/>
        <remap from="/imu" to="/swiftnav/rear/imu"/>
    </node>

    <node pkg="robot_localization" name="ekf_node" type="ekf_localization_node" clear_params="true">
        <rosparam command="load" file="$(find second_project)/params/ekf_params.yaml" />
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node">
    	<rosparam command="load" file="$(find second_project)/params/navsat_transform_params.yaml"/>
        <remap from="/gps/fix" to="/swiftnav/rear/gps"/>
        <!-- <remap from="/odometry/filtered" to="/odometry/filtered"/> -->
        <remap from="/imu/data" to="/swiftnav/rear/imu/data"/>
    </node>

</launch>
